<h1> Cadastro de pedido </h1>

<%= form_with model: @order do |f| %>

   <div>
    <%= f.label :warehouse_id %>
    <%= f.collection_select :warehouse_id, @warehouses, :id, :full_description %>
  </div>

  <div>
    <%= f.label :supplier_id %>
    <%= f.collection_select :supplier_id, @suppliers, :id, :full_description %>
  </div>

   <div>
    <%= f.label :estimated_delivery_date %>
    <%= f.date_field :estimated_delivery_date %>
  </div>

   <div>
    <%= f.submit %>
  </div>
<% end %>