<h1> Resultados da busca por: <%= @code %> </h1>

<% if @order.present? %>
  <p> 1 pedido encontrado </p>
  <dl>
    <dt><%= Order.human_attribute_name(:code) %>: </dt>
    <dd><%=@order.code%></dd>
    <dt><%= Order.human_attribute_name(:warehouse) %> destino:</dt>
    <dd><%=@order.warehouse.full_description%></dd>
    <dt><%= Order.human_attribute_name(:supplier) %>:</dt>
    <dd><%=@order.supplier.corporation_name%></dd>
  </dl>
<% end %>