<h1> Pedido </h1>

<dl>
  </dt>Galpão destino:</dt>
  </dd> <%= @order.warehouse.name %> </dd>

  </dt>Fornecedor:</dt>
  </dd> <%= @order.supplier.corporation_name %>. </dd>

  </dt>Responsável:</dt>
  </dd> <%= @order.user.name %> < <%= @order.user.email %> > </dd>

  </dt>Data prevista de entrega:</dt>
  </dd> <%= I18n.localize(@order.estimated_delivery_date, format: :long) %> </dd>
 
</dl>