<h1> Edição de <%= @supplier.corporation_name %> </h1>

<% if @supplier.errors.any? %>
        <p>Verifique os erros:</p>
    <ul>
        <% @supplier.errors.full_messages.each do |msg|%>
            <li> <%= msg %>. </li>
        <% end %>
    </ul>
<% end %>

<%= form_with model: @supplier do |f| %>

    <%= f.label :corporation_name %>
    <%= f.text_field :corporation_name %> <br>

    <%= f.label :brand_name %>
    <%= f.text_field :brand_name %> <br>

    <%= f.label :registration_number %>
    <%= f.text_field :registration_number %> <br>

    <%= f.label :address %>
    <%= f.text_field :address %> <br>

    <%= f.label :city %>
    <%= f.text_field :city %> <br>

    <%= f.label :state %>
    <%= f.text_field :state %> <br>

    <%= f.label :email %>
    <%= f.text_field :email %> <br>

    <%= f.submit %>

<% end %>