<h1> Fornecedor <% @supplier.corporation_name %> </h1>

<h3> <%= link_to 'Editar Fornecedor', edit_supplier_path(@supplier.id) %> 

<div>
    <dl>

    <dt> Razão Social:</dt>
    <dd> <%= @supplier.corporation_name %> </dd> <br>

    <dt>Nome Fantasia:</dt>
    <dd> <%= @supplier.brand_name %> </dd> <br>

    <dt>CNPJ:</dt>
    <dd> <%= @supplier.registration_number %> </dd> <br>

    <dt>Endereço:</dt>
    <dd> <%= @supplier.address %> </dd> <br>

    <dt>Cidade/UF:</dt>
    <dd> <%= @supplier.city %>/<%= @supplier.state %> </dd> <br>

    <dt>E-mail:</dt>
    <dd> <%= @supplier.email %> </dd> <br>
    
    </dl>
</div>

