<% if @warehouse.errors.any? %>
        <p>Verifique os erros:</p>
    <ul>
        <% @warehouse.errors.full_messages.each do |msg|%>
            <li> <%= msg %>. </li>
        <% end %>
    </ul>
<% end %>

<%= form_with(model: @warehouse) do |f| %>
    
    <div>
        <%= f.label :description %>
        <%= f.text_area :description %> <br>
    </div>

    <div>
        <%= f.label :name %>
        <%= f.text_field :name %> <br>
    </div>

    <div>
        <%= f.label :city %>
        <%= f.text_field :city %> <br>
    </div>

    <div>
        <%= f.label :cod %>
        <%= f.text_field :cod %> <br>
    </div>

    <div>
        <%= f.label :address %>
        <%= f.text_field :address %> <br>
    </div>

    <div>
        <%= f.label :cep %>
        <%= f.text_field :cep %> <br>
    </div>

    <div>
        <%= f.label :area %>
        <%= f.number_field :area %> <br>
    </div>

    <div>
        <%= f.submit %>
    </div>


<% end %>