
<h1>Galpão <%= @warehouse.cod %> </h1>

<h2><%= @warehouse.description %></h2>

<h3> <%= link_to 'Editar', edit_warehouse_path(@warehouse.id) %> 

<div>
    <dl>

    <dt><strong>Nome: </strong></dt>
    <dd> <%= @warehouse.name %> </dd> <br>

    <dt><strong>Cidade: </strong></dt>
    <dd> <%= @warehouse.city %> </dd> <br>

    <dt><strong>Endereço: </strong></dt>
    <dd> <%= @warehouse.address %> - CEP: <%= @warehouse.cep %> </dd> <br>

    <dt><strong>Área: </strong></dt>
    <dd> <%= @warehouse.area %> </dd> <br>
    
    </dl>
</div>

<div>
    <%= button_to 'Remover galpão', warehouse_path(@warehouse.id), method: :delete %>
</div>
