
<h1>Galpão <%= @warehouse.cod %> </h1>

<h2><%= @warehouse.description %></h2>

<div>
    <strong><%= @warehouse.name %> </strong>
    <strong>Cidade: </strong><%= @warehouse.city %> 
    <strong>Endereço: </strong><%= @warehouse.address %> - CEP: <%= @warehouse.cep %>
    <strong>Área: </strong><%= @warehouse.area %> 
</div>

<%= link_to('Voltar', root_path) %>