
<h1>Galpão <%= @warehouse.cod %> </h1>

<h2><%= @warehouse.description %></h2>

<h3> <%= link_to 'Editar', edit_warehouse_path(@warehouse.id) %> 

<div>
    <dl>

    <dt><strong>Nome: </strong></dt>
    <dd> <%= @warehouse.name %> </dd> <br>

    <dt><strong>Cidade: </strong></dt>
    <dd> <%= @warehouse.city %> </dd> <br>

    <dt><strong>Endereço: </strong></dt>
    <dd> <%= @warehouse.address %> - CEP: <%= @warehouse.cep %> </dd> <br>

    <dt><strong>Área: </strong></dt>
    <dd> <%= @warehouse.area %> </dd> <br>
    
    </dl>
</div>

<section id="stock_products">
    <p> Itens em Estoque </p>
    <ul>
        <%@items.each_pair do |product_model, quantity| %>
            <li><%= quantity %> unidades - <%= product_model.name %>/<%= product_model.sku %> </li>
        <% end %>
    </ul>
</section>

<section id="stock_product_destination">
    <h3>Saída do estoque</h3>
    <div>
        <%= form_with(url: warehouse_stock_product_destinations_path(@warehouse)) do |f| %>

        <%= f.label :product_model_id, "Item para despachar" %>
        <%= f.collection_select :product_model_id, @product_models, :id, :sku%>

        <%= f.label :recipient, 'Destinatário'%>
        <%= f.text_field :recipient %>

        <%= f.label :address,'Endereço'%>
        <%= f.text_field :address %>

        <%= f.submit 'Confirmar retirada'%>


    </section>

    <% end %>
</div>

<div>
    <%= button_to 'Remover galpão', warehouse_path(@warehouse.id), method: :delete  %>
</div>
