<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1> Galpões & Estoque </h1>
    </header>

    <nav>
      <%= link_to('Home', root_path) %> <br>
      <%= link_to('Fornecedores', suppliers_path) %> <br>
      <%= link_to('Modelos de Produtos', product_models_path) %> <br>

      <% if user_signed_in? %>
        <%= current_user.email %>
        <%= button_to('Sair', destroy_user_session_path, method: :delete) %> <br>
      <% else %>
         <%= link_to('Entrar', new_user_session_path) %> <br>
      <% end %>

    </nav>

    <main>
    
      <div>
      <%=alert%>
      <%=notice%>
      </div>

    <%= yield %>
    </main>
  </body>
</html>
